html {
  font-family: "Poppins", serif;
}

body {
  width: 100%;
  margin: 0;
  background-color: #f7f7f9;
}

.menu-logo div {
  width: 25px;
  height: 3px;
  background-color: #6070ff;
  margin: 4px 0;
}

.logo {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.toolbar {
  position: relative;
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  height: 3rem;
}

.toolbar > a,
p {
  padding: 2rem;
}

.headline {
  height: calc(100vh - 65px);
  background-image: url(images/header-shapes\ mobile.png), url(images/header-background-mobile.png);
  background-size: calc(cover - 10%);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}

.headline > * {
  padding: 24px;
  padding-bottom: 0;
  margin: 0;
}

.greeting {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  color: #172b4d;
}

.about {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
}

h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #7f8cff;
}

.socials {
  padding-top: 12px;
  padding-right: 0;
  width: 90%;
}

.socials > ul {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, 40px);
}

.socials > ul > li {
  width: 2rem;
  list-style: none;
  padding: 4px;
}

.container {
  display: grid;
  padding: 16px;
  background-color: #fff;
  border-radius: 16px;
  padding-bottom: 0;
  flex-direction: column;
  height: auto;
}

/* grid item */
.container > * {
  margin: 3%;
}

.project {
  height: 100vh;
  padding: 16px;
  background-color: #f7f7f9;
}

.project > img {
  border-radius: 8px;
  width: 100%;
}

.client-name {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
  margin-top: 12px;
  margin-bottom: 20px;
  margin-right: 25px;
}

.container > ul > li {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: #7a869a;
}

.container > ul {
  display: flex;
  justify-content: left;
  gap: 12%;
  align-items: flex-start;
  padding: 0;
  width: 90%;
  margin: 3%;
}

.container > ul > .name {
  list-style: none;
  font-size: 13px;
  font-weight: 600;
  text-align: left;
  color: #344563;
}

.dropbtn > span {
  width: 60%;
}

.about-project {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
  padding: 0;
  width: 90%;
}

.buttons {
  margin: 0;
  height: 70%;
  padding-left: 3%;
}

.buttons > ul {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 0;
  gap: 8px;
}

.buttons > ul > li {
  list-style: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background-color: #ebebff;
  border-radius: 8px;
  padding: 4px 12px 4px 12px;
  border-color: transparent;
  text-align: center;
}

.see-project {
  font-family: "Poppins", serif;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #396df2;
  border: 1px solid #396df2;
  background-color: #fff;
  border-radius: 8px;
  padding: 4px 12px 4px 12px;
  height: 48px;
  width: 43%;
  margin-top: 10px;
  margin-bottom: 36px;
}

.see-project:hover {
  color: #fff;
  background-color: #4053fc;
}

.second-part {
  background-image: url(images/Base\ about\ my\ self.png);
  background-size: cover;
  background-repeat: repeat-y;
  padding-top: 30%;
  padding-bottom: 70%;
}

.second-part > .headline > * {
  margin: 16px;
  padding: 0;
  width: 90%;
}

.second-part > .headline {
  display: flex;
  justify-content: flex-start;
}

.about-myself > .headline {
  background-image: none;
}

.second-part > .headline > .greeting {
  padding-bottom: 0;
}

#resume {
  margin: 0;
  margin-left: 4%;
  width: 45%;
  padding: 3%;
}

.second-text {
  padding-top: 8px;
}

.dropdowns {
  width: 85%;
  background-color: white;
  padding-top: 0;
}

.list-of-dropdowns {
  text-align: left;
  list-style: none;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dropdown-content {
  position: relative;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  width: 100%;
  border-radius: 8px;
}

.dropdown-content > a {
  background-color: #f7f7f9;
  font-size: 15px;
  text-decoration: none;
  display: none;
  align-items: center;
  border-radius: 8px;
}

.dropdown-content > a > img {
  padding: 12px;
}

.dropbtn {
  position: relative;
  padding: 24px;
  padding-left: 0;
  border-bottom: 1px solid #dfe1e6;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-row: 2;
  gap: 18px;
  width: 90%;
}

.dropbtn:hover .dropdown-content > a {
  display: grid;
  grid-template-columns: 25% 75%;
}

.down {
  display: none;
}

.right {
  display: block;
}

.dropbtn:hover .down {
  display: block;
}

.dropbtn:hover .right {
  display: none;
}

.fas {
  color: #acb7c3;
}

.dropbtn > i {
  text-align: right;
}

.contact-form {
  height: 100vh;
}

.wrapper-contact {
  border-radius: 50px 0 0 0;
  background: #6070ff;
  background-image: url(images/contact\ form\ shapes-mobile.png);
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper-contact > h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  color: #fff;
  margin: 0;
}

.contact-para {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

input[type=text],
input[type=email] {
  font-family: "Poppins", serif;
  background: #fff;
  border: 1px solid #cfd8dc;
  padding: 8px;
  width: 96.7%;
  height: 68%;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

textarea {
  font-family: "Poppins", serif;
  position: relative;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  height: 262%;
  background: #fff;
  border: 1px solid #cfd8dc;
  padding: 8px;
  border-radius: 8px;
  word-wrap: break-word;
  word-break: break-all;
  width: 115%;
  margin-left: -10%;
}

input[type=submit] {
  font-family: "Poppins", serif;
  width: 45%;
  height: 48px;
  padding: 3.2%;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #396df2;
  background-color: #fff;
  color: #396df2;
}

input[type=submit]:hover {
  color: #fff;
  background-color: #4053fc;
}

form {
  gap: 20px;
  display: flex;
  flex-direction: column;
  height: 316px;
  width: 327px;
  align-items: center;
  justify-content: center;
  padding: 3%;
  position: relative;
  margin: 3%;
}

.message-label {
  padding-bottom: 40%;
}
