html {
  font-family: "Poppins", serif;
}

body {
  width: 100%;
  margin: 0;
  background-color: #f7f7f9;
}

.menu-logo div {
  width: 25px;
  height: 3px;
  background-color: #6070ff;
  margin: 4px 0;
}

.logo {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.toolbar {
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: calc(100% - 10px);
  height: 3rem;
}

.toolbar>a,
p {
  padding: 2rem;
}

.headline {
  height: calc(100vh - 65px);
  background-image: url(images/header-shapes\ mobile.png), url(images/header-background-mobile.png);
  background-size: calc(cover - 10%);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}

.headline>* {
  padding: 24px;
  padding-bottom: 0;
  margin: 0;
}

.greeting {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  color: #172b4d;
}

.about {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
}

h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #7f8cff;
}

.socials {
  padding-top: 12px;
  width: 100%;
}

.socials>ul {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, 40px);
}

.socials>ul>li {
  width: 2rem;
  list-style: none;
  padding: 4px; ;
}

.container {
  padding: 16px;
  background-color: #fff;
  border-radius: 16px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  height: auto
}

.project {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  background-color:#F7F7F9;;
}

.project>img {
  border-radius: 8px;
  width: 100%;
}

.client {
  display: flex;
  flex-direction: column;
}

.client-name {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 12px;
  margin-bottom: 20px;
  margin-right: 25px;
}

.client>ul>li {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #7A869A;
  width: 30%;
}

.client>ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.client>ul>* {
  margin: 0;
}

.client>ul>span {
  color: #344563;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  margin-right: 0;
}

.about-project {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
  padding: 0;
  width: 90%;
}
.buttons {
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

.buttons>ul {
  display: flex;
  justify-content: left;
  padding: 0;
  gap: 8px;
  margin-top: 0;
}

.buttons>ul>li {
  list-style: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background-color: #ebebff;
  border-radius: 8px;
  padding: 4px 12px 4px 12px;
  border-color: transparent;
  text-align: center;
}

.see-project {
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #396df2;
  border: 1px solid #396df2;
  background-color: #fff;
  border-radius: 8px;
  padding: 4px 12px 4px 12px;
  height: 48px;
  width: 43%;
  margin-top: 10px;
  margin-bottom: 36px;
}

.resume {
margin-left: 24px;
padding: 12px;
margin-bottom: 0;
}

.second-part {
  background-image: url(images/Base\ about\ my\ self.png);
padding-top: 30%;
}

.about-myself > .headline {
  background-image: none;
}

.second-part > .headline > .greeting {
  padding-bottom: 0;
}

.second-text {
  padding-top: 8px;

}

.pop-out-buttons {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.pop-out-buttons > * > *{
  border: 2px solid green;
}
.dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropbtn {
  list-style: none;
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;

}

.dropdown-content > a {
  background-color: #F7F7F9;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid #ACB7C3;
}

